# fly.toml app configuration file generated for rewrite-editor-server on 2025-12-07T12:10:49Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'rewrite-editor-server'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 1234
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
